<div id="circle">
	<div id="content">
 		<div id="intro_title" style="font-family: 'Poiret One', cursive;"><%= image_tag("logo_white.svg") %>  gonggam</div>	<!--edit by jaeyoon-->
 		<div id="content_inner">
		 		<p>
			 		Link your idea.<br>
			 		You can link your idea by drag a cursor to empty space.<br> <br>
			 		Link, Collect and Inspire!
		 		</p>
			<form id="circle_form" action="/login" method="post">
				<div id="name_box"></div>
					name :
					<input id="nick" name="nick" type="text" placeholder="name" required="">
				</div>
			<div id="enter">
				<input class="btn" type="submit" name="enter" value="ENTER" style="float: left;">
				<%= link_to "signin", new_user_path(), class: 'btn', style: "float: left; color: black; margin-left: 5px;" %>
			</div>
			</form>
		</div>
	</div>
</div>


<!--<div class="span4 offset4">
	<form action="/login" method="post">

		<label for="nick">Nickname:</label>
		<input id="nick" name="nick" type="text" placeholder="name" required/>
		<br>
		<input class="btn" type="submit" name="enter" value="ENTER"/>

	</form>

</div>-->
