<div class="no-js modern">
<div id="circle">
	<div id="content">
 		<h1 title="register">Welcome to gongam</h1>
 		<div id="content_inner">
		 		<p>
			 		Link your idea.<br/> 
			 		You can link your idea by drag a cursor to empty space.<br/>
			 		Link, Collect and Inspire!
		 		</p>
			<form id="circle_form" action="/login" method="post">
				<h3>
					<label for="u_name">login :</label>
					<input id="u_name" name="u_name" type="text" placeholder="name" required/>
				</h3>
			<div id="enter">
				<input class="btn" type="submit" name="enter" value="ENTER"/>
			</div> 
			</form>
		</div>
	</div>
</div>
</div>
